*{
	margin:0;
	padding:0;
}
body{
	background-image:url("img/banner.jpg");
}
.clear{
	clear:both;
}
.signIn{
	width:400px;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #000;
	border-radius:5px;
	text-align:center;
	font-family:Myriad Pro;
	font-size:14px;
	color:#fff;
	background: rgba(0, 0, 0, .8);
}
.signIn h1{
	font-family:Good times;
}
.signIn h2{
	font-weight:normal;
	font-size:20px;
	color:#ccc;
	margin-bottom:10%;
}
.signIn h1 span{
	color:#999;
}
.signIn img{
	width:40%;
	margin-top:20px;
}
.signIn p{
	margin:15px;
}
.signIn p span a{
	color:#99aa00;
	font-size:20px;
	text-decoration:none;
}

.social{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	list-style-type:none;
	margin-bottom:20px;
}
.social li{
	width:33.33%;
	float:left;	
}
.social img{
	width:80%;
	margin:0;
}

.form-style {
    margin:20px auto;
    max-width: 180px;
}
.form-style li {
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style input
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 5px;
	width:180px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
}
.form-style input:focus{
    -moz-box-shadow: 0 0 8px #adba32;
    -webkit-box-shadow: 0 0 8px #adba32;
    box-shadow: 0 0 8px #adba32;
    border: 1px solid #adba32;
}

.button{
	width:100%;
	background: rgba(0, 0, 0, .8);
}

.button a{
	color:#fff;
	text-decoration:none;
	display:block;
	padding:15px 0;
}

.button:hover{
	background: rgba(0, 0, 0, .5);
}

